body {
    background: lawngreen;
}

.infoSection {
    margin-bottom: 0.5em;
    padding: 0.5em 0;
}

button {
    color: darkslategray;
    background-color: burlywood;
    font: bold 18px arial,sans-serif;
    text-align: center;
}

button #spin {
    margin: 10px;
    width: 100px;
}

#board {
    width: 970px;
    margin: 5px;
    padding: 0;
    background: lawngreen;
}

#playArea {
    width: 100%;
    margin: 0 auto;
}

#spinner {
    width: 140px;
    float: left;
}

#latestSpin {
    width: 120px;
}

#blanket {
    width: 816px;
    float: right;
    margin-right: 10px;
    background-image: url('img/blanket1.png');
}

.itemOnBlanket {
    margin: 4px;
    border: 1px gray solid;
}
